

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
<form th:object="${formObj}" action="/przelewy" method="post" >
    <div class="form-group">
        <label for="senderAccount">Email address</label>
        <input type="text" class="form-control" id="senderAccount" placeholder="Podaj konto nadawcy" th:field="*{senderAccount}">
    </div>
    <div class="form-group">
        <label for="receiverAccount">Email address</label>
        <input type="text" class="form-control" id="receiverAccount" placeholder="Podaj konto odbiorcy"  th:field="*{receiverAccount}">
    </div>
    <div class="form-group">
        <label for="amountToSend">Email address</label>
        <input type="number" class="form-control" id="amountToSend" placeholder="Podaj kwote" th:field="*{amountToSend}">
    </div>
    <div th:if="${#fields.hasErrors('senderAccount')}">
        <span>nieprawidłowy numer konta wysyłającego</span>
    </div>
    <div th:if="${#fields.hasErrors('receiverAccount')}">
        <span th:text="${#fields.errors('receiverAccount')}"></span>
    </div>
    <div th:if="${#fields.hasErrors('amountToSend')}"></div>

    <button type="submit" class="btn btn-primary">Zleć przelew</button>
</form>
</body>
</html>

<!--    String senderAccount;
    String receiverAccount;
    BigDecimal amountToSend;-->
